h2,#popupbereich h3{
	color: #990000;
	font-weight:bold;
	font-size:16px;
	margin-bottom: 15px;
}
#popupbereich {
	width: 585px;
	float:left;
	padding: 10px;
	margin-bottom: 0px;
	background: #fff;
}

* html #popupbereich {
	width: 600px;
	w\idth: 580px;
}
