# $Id: .htaccess 2666 2012-02-23 11:38:17Z dokuman $
#
# Allow just image file formats for this folder and subfolders

# Enable this for extra security
#php_flag engine off

deny from all
<FilesMatch "\.(png|jpe?g|gif|bmp)$">
  allow from all
</FilesMatch>